@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Chelsea+Market&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --font1: "Roboto", serif;
    --font2:"Archivo", serif;
    --font3:"Chelsea Market", serif;
}

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    background-color:beige;
    font-family: var(--font1);
    min-height: 100vh;
}

header{
    background-color: black;
    color: whitesmoke;
    text-align: center;
}

header > h1{
    font-family:var(--font2);
    font-size: 3em;
    font-variant: small-caps;
    padding-top: 50px;
}

header > p{
    padding-bottom: 50px;
}

header a, footer a{
    color: whitesmoke;
    font-weight: bold;
    text-decoration: none;
}

header a:hover, footer a:hover{
    text-decoration: underline;
}

section{
    color: rgb(24, 15, 2);
    font-family: var(--font3);
    line-height: 2em;
    padding: 10vh 0px 10vh 25px;
    
}

section.normal{
    background-color: burlywood;
}

section.imagem{
    background-color: beige;
}

section.imagem > p{
    background-color:rgba(255, 127, 80, 0.295);
    display: inline-block;
    padding: 15px;
}

footer{
    background-color:black;
    color: whitesmoke;
    font-size: 0.8em;
    padding: 5px;
    text-align: center;
}