@charset "UTF-8";

header{
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

header > h1{
    flex: 0 0 auto;
}

header > nav > a{
    flex-flow: column nowrap;
    width: 95vw;
}


